@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.footer {
    margin-top: 5rem;
}

.theme-default-content:not(.custom) > h1,
.theme-default-content:not(.custom) > h2 {
    margin-top: 0;
}
