// colors
$accentColor ?= #83123B
$textColor ?= #282C34
$borderColor ?= #eaecef
$codeBgColor ?= #282c34
$arrowBgColor ?= #eaecef
$badgeTipColor ?= #128083
$badgeWarningColor ?= #ffe564
$badgeErrorColor ?= #FF4954

// layout
$navbarHeight ?= 3.6rem
$sidebarWidth ?= 20rem
$contentWidth ?= 740px
$homePageWidth ?= 980px
