// colors
$accentColor ?= #ff6600
$textColor ?= #282C34
$borderColor ?= #eaecef
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$badgeTipColor ?= #ff6600
$badgeWarningColor ?= #ffe564
$badgeErrorColor ?= #DA5961

// layout
$navbarHeight ?= 3.6rem
$sidebarWidth ?= 20rem
$contentWidth ?= 740px
$homePageWidth ?= 960px
